@font-face{
    font-family: Amuro;
    src:url("../font/Amuro.otf");
}
@font-face{
    font-family: AmuroItalic;
    src:url("../font/Amuro Italic.otf")
}
@font-face{
    font-family:AmuroBold;
    src:url("../font/Amuro Bold.otf");
}
@font-face{
    font-family:AmuroBoldItalic;
    src:url("../font/Amuro Bold Italic.otf");
}
@font-face{
    font-family:AmuroCondensed;
    src:url("../font/Amuro Condensed.otf");
}
@font-face{
    font-family:AmuroCondensedItalic;
    src:url("../font/Amuro Condensed Italic.otf");
}
@font-face{
    font-family:AmuroCondensedBold;
    src:url("../font/Amuro Condensed Bold.otf");
}
@font-face{
    font-family:AmuroCondensedBoldItalic;
    src:url("../font/Amuro Condensed.otf");
}
@font-face{
    font-family:NeoGen;
    src:url("../font/Neo Gen.ttf");
}
@font-face{
    font-family:NeoGenItalic;
    src:url("../font/Neo Gen Italic.ttf");
}
@font-face{
    font-family:NeoGenBold;
    src:url("../font/Neo Gen Bold.ttf");
}
@font-face{
    font-family:NeoGenBoldItalic;
    src:url("../font/Neo Gen Bold Italic.ttf");
}
canvas{
    position:absolute;
    top:0px;
    left:0px;
    z-index:0;
}
.clear {
	clear:both;
}
#fondjeu{
    background-image:url(../images/space.jpg);
}
h1{
    position:absolute;
    top:5%;
    left:10%;
    z-index:1;
    float:left;
    font-family:Amuro;
    background-color:white;
    width:20%;
    font-size: 2em;
    text-align:center;
    text-shadow:2px 2px 5px #aaa;
    border-radius:5px;
}
h2 {
    font-family: AmuroItalic;
    font-size: 1.3em;
    color:white;
	text-shadow:2px 2px 5px blue;
    margin-bottom: 25px;
    z-index:1;
}
h3{
    font-family: AmuroItalic;
    font-size: 1em;
    color:white;
	text-shadow:2px 2px 5px blue;
    margin-bottom: 25px;
    z-index:1;
}
p {
	margin-top:10px;
	margin-bottom:10px;
}

a {
	text-decoration:none;
	color:white;
}

a:hover {
	text-decoration:underline;
}

.login-form-frame {
    position:absolute;
    top:25%;
    right:10%;
    z-index:1;
	margin: 20px auto;
    width:310px;
    float:right;
	border-radius: 5px;
	border:1px solid #6b5736;
	background-color: #ddd;
    padding:20px;
    margin-right:10%;
	background: linear-gradient(white, #d1d1d1); 
}

#lobby-frame{
    position:absolute;
    top:18%;
    left:10%;
    z-index:2;
	margin: 20px auto;
	border-radius: 5px;
	border:1px solid #6b5736;
	background-color: rgb(134, 126, 126);
    padding:20px;
	background: linear-gradient(#d1d1d1, #4A4747); 
}

#list-games{
    position:absolute;
    top:10%;
    left:30%;
    z-index:2;
	margin: 20px auto;
    width:60%;
    height:80%;
    overflow: scroll;
	border-radius: 5px;
	border:1px solid #6b5736;
    background-color: rgb(134, 126, 126);
    opacity:0.8;
    padding:20px;
    margin-right:10%;
	background: linear-gradient(#424040, rgb(170, 169, 169)); 
}

.error-div {
	border: 1px solid red;
	padding:5px;
	border-radius: 3px;
	background-color: pink;
	margin-bottom: 20px;
	color:red;
}

.form-label {
	float:left;
	width:140px;
}

.form-input {
    float:left;
    width: 60px;
    vertical-align:top;
}

.form-separator {
	clear: both;
	height:10px;
}
label{
    font-family:AmuroCondensed;
}
button {
	box-shadow:rgba(0,0,0,1) 0 0px 2px 0;
	color:#333;
	background-color:#d1d1d1;
	border-radius:3px;
	border:none;
	font-size:16px;
    font-weight:700;
    font-family:AmuroCondensed;
	height:32px;
    padding:4px 16px;
    margin-top:10px;
    cursor: pointer;
    align-items: flex-end;
    
}

button:hover {
	background-color:#bbb;
}

#Connexion-Index
{
    position:absolute;
    top:20%;
    right:10%;
    z-index:2;
    float:right;
    margin-right:10%;
}

#Lobby-Index{
    position:absolute;
    top:10%;
    left:10%;
    z-index:2;
    margin-right:10%;
}
#deconnexion{
    position:absolute;
    top:15%;
    left:20%;
    z-index:2;
    margin-right:10%;
}
#amelioration{
    position:absolute;
    top:15%;
    left:10%;
    z-index:2;
    margin-right:10%;
}
.result-item{
    font-family: AmuroBoldItalic;
    font-size: 1.5em;
    color:blue;
	text-shadow:2px 2px 5px white;
    margin-bottom: 25px;
    z-index:1;
}
.game{
    display:flex;
    justify-content:flex-start;
    border-radius: 5px;
	border:1px solid white;
    font-family:NeoGen;
    width:95%;
    padding:10px;
    margin:0 auto;
}
.game div{
    display:inline;
}
.form-input h3{
    margin-top:10px;
    margin-bottom:0px;
}
.game button{
    margin-left:50px;
}
.label-game{
    float:left;
    width:90px;
    text-align:center;
    font-family:AmuroCondensed;
    font-size: 1.5em;
    color:blue;
	text-shadow:2px 2px 5px white;
}
#barreEtat{
    position:absolute;
    top:0%;
    left:4%;
    width:90%;
    height:17%;
    z-index:2;
	margin: 0 auto;
	border-radius: 5px;
	border:1px solid #6b5736;
	background-color: rgba(134, 126, 126, 0.575);
    padding-bottom:35px;
}

.infoJoueur{
    float:left;
    z-index:2;
    text-align:center;
	margin: 0 auto;
	border-radius: 5px;
	border:1px solid #6b5736;
	background-color: rgb(134, 126, 126);
    padding:10px;
	background: linear-gradient(#d1d1d1, #001CEE);
}
.infoJoueur h3{
    margin-top:0px;
    margin-bottom:0px;
}
.infoBoss h3{
    margin-top:0px;
    margin-bottom:0px;
}
.Action h3{
    margin-top:0px;
    margin-bottom:0px;
}

.infoBoss{
    float:left;
    z-index:2;
    text-align:center;
	margin: 0 auto;
	border-radius: 5px;
	border:1px solid #6b5736;
	background-color: rgb(134, 126, 126);
    padding:20px;
	background: linear-gradient(#d1d1d1, #F4000F);
}
#barreAction{
    position:absolute;
    bottom:0%;
    left:4%;
    width:90%;
    height:9%;
    z-index:2;
	margin: 20px auto;
	border-radius: 5px;
	border:1px solid #6b5736;
	background-color: rgba(134, 126, 126, 0.575);
    padding:20px;
}
#actions{
    display:flex;
    justify-content:space-around;
    height:100%;
}
#infos{
    display:flex;
    justify-content: space-around;
}
.Action{
    float:left;
    width:30%;
    height:40%;
    z-index:2;
    text-align:center;
    vertical-align:top;
	margin: 0 auto;
	border-radius: 5px;
	border:1px solid #6b5736;
	background-color: rgb(134, 126, 126);
    padding:20px;
	background: linear-gradient(#d1d1d1, rgba(6, 204, 2, 0.81));
}
.titreBarre{
    font-family: AmuroItalic;
    font-size: 1.3em;
    color:white;
    text-shadow:2px 2px 5px blue;
    margin-top:0px;
    margin-bottom: 0px;
    float:left;
}
#jeu{
    position:absolute;
    top:35%;
    left:20%;
    z-index:0;
}

#win{
    background-image:url(../images/win.jpg);
}

#lost{
    background-image:url(../images/lost.jpg);
    background-repeat: no-repeat;
}
#wintext{
    position:absolute;
    top:20%;
    left:20%;
    font-size: 2em;
}
#losttext{
    position:absolute;
    top:50%;
    left:20%;
    font-size: 2em;
}
.portrait{
    width:110px;
    height: 65px;
    display:none;
}
#portrait-players{
    position:absolute;
    bottom:30%;
    left:4%;
    width:20%;
}

